name: Merge Issue For Weekly

on:
  workflow_dispatch:
    inputs:
      start-date:
        description: 'Start date (YYYY-MM-DD)'
        required: true
      end-date:
        description: 'End date (YYYY-MM-DD)'
        required: true

jobs:
  merge-issue:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      contents: read
    steps:
      - uses: actions/checkout@v3

      - name: Merge Issue
        uses: actions/github-script@v6
        env:
          START_DATE: ${{ github.event.inputs.start-date }}
          END_DATE: ${{ github.event.inputs.end-date }}
        with:
          script: |
            const update = require('./scripts/issue-merge-for-weekly.js')
            update({ github, context })